* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  height: 100vh;
  margin: 8px;

  //サイドバー

  .sideBar {
    width: 25vw;
    height: 100vh;
    //background-color: plum; 
    &__table {
      width: 100%;
      height: 30%;
      //background-color: gold;
      margin: 120px 0 0 0;
      font-family: Osaka;
    
      &__total {
        height: 33%;
        //background-color: lavenderblush;
        border:solid 2px #C0C0C0;
        padding-right: 10px;
        
      }
      &__remain {
        height: 33%;
        //background-color: lightsalmon;
        border:solid 2px #C0C0C0;
      }
      &__compleate {
        //background-color: lightslategray;
        border:solid 2px #C0C0C0;
      }
    }  
  }

  //ここからメイン

  .main{
    height: 15vh;
    width: calc(100vw - 25vw);
    margin-left: 5px;
    //background-color: salmon;
    
    &__item {
    height: 10vh;
    //background-color: pink;
    margin: 20px 0px;
    font-size: 60px;
    font-family: Courier;
    }
    
    &__name{
      height: 5vh;
      //background-color: red;
      margin: 0px 10px;
      font-family: Courier New;
    }

    &__taskList {
    height: 15vh;
    background-color: steelblue;
    font-family: Courier New;

      &__top {
        height: 5vh;
        //background-color: yellow;
        display: flex;
        font-size: 13px;

        &__content {
          width: 30vw;
          //background-color: seagreen;
          margin: 20px 0px 0px 5px;
          color: whitesmoke;
        }
        &__period {
          width: 25vw;
          //background-color: steelblue;
          margin: 20px 0px 0px;
          color: whitesmoke;
        }
      }

    //ここから入力コンテンツ

      &__form {
        height: 5vh;
        //background-color: silver;
        display: flex;
        
        &__task {
          width: 30vw;
          margin: 0px 0px 0px 5px;
          //background-color: slateblue;  
        }
        &__day {
          width: 25vw;
          //background-color: thistle;
        }
      }
    }

    //ここから表示

    &__indicate {
      height: 15vh;
      border:solid 2px lightcoral;
      margin-top: 5px;
      font-family: Courier New;

      &__matter {
        height: 10vh;
        //background-color: khaki;
        &__content1 {
          width: 30vw;
          //background-color: seagreen;
          margin: 3px 0px 0px 5px;
          font-size: 13px;
        }
        &__list {
          height: 90%;
          margin: 5px;
          //background-color: fuchsia;

        }
      }
      &__timeLimit {
        height: 5vh;
        //background-color: forestgreen;
        display: flex;
        &__period1 {
          width: 10%;
          //background-color: lightgoldenrodyellow;
          margin: 0px 0px 3px 5px;
          font-size: 13px;
        }
        &__limit {
          font-size: 13px;
        }
        &__destroy {
          width: 10%;
          //background-color: palevioletred;
          margin: 0 0 0 auto;
        }
        .delete {
          color: #FFDAB9;
          font-size: 1.5em;
        }
      }
    } 
  }
}
.main_taskList_input {
  font-size: 20px;
}

