.wrapper {
  display: flex;
  height: 100vh;

  .sideBar {
    width: 25vw;
    height: 100vh;
    background-color: plum;  
  }

  //ここからメイン

  .main{
    height: 15vh;
    width: calc(100vw - 25vw);
    //background-color: salmon;
    
    &__item {
    height: 10vh;
    //background-color: pink;
    margin: 20px 0px;
    font-size: 60px;
    font-family: Courier;
    }
    
    &__name{
      height: 5vh;
      //background-color: red;
      margin: 0px 10px;
      font-family: Courier New;
    }

    &__taskList {
    height: 15vh;
    background-color: steelblue;

      &__top {
        height: 5vh;
        //background-color: yellow;
        display: flex;

        &__content {
          width: 25vw;
          //background-color: seagreen;
          margin: 20px 0px 0px;
          color: whitesmoke;
          font-size: 12px;
        }
        &__period {
          width: 25vw;
          //background-color: steelblue;
          margin: 20px 0px 0px;
          color: whitesmoke;
          font-size: 12px;
        }
      }

  //ここからタスクコンテンツ

      &__form {
        height: 5vh;
        //background-color: silver;
        display: flex;
        
        &__task {
          width: 25vw;
          //background-color: slateblue;  
        }
        &__day {
          width: 25vw;
          //background-color: thistle;
        }
        
      }
    }
  }
}
