.wrapper
  .sideBar
    .sideBar__table
    .sideBar__sort
  .main
    .main__item
    .main__name
      toDo-list
    .main__taskList
      .main__taskList__top
      .main__taskList__form
        .main__taskList__form__content
        .main__taskList__form__period
        .main__taskList__form__sumbit




